@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Inter:wght@300;400;500&family=League+Spartan:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    scroll-behavior: smooth;
}


body.disable-scroll{
    overflow: hidden;
}

li{
    transition: .3s;
}

.myimage{
    filter: grayscale(90%);
    transition:.3s;
    border: 1px solid white;
    width: 35%;
    height: 35%;
    box-shadow: 8px 8px 0px 0px rgb(255, 255, 255);
}
.myimage:hover{
    filter: grayscale(0);
}

.image{
    width: 120%;
}
.tech ul li {
    list-style-type: "🚀 ";
}
.GridItem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridContainer{
    margin-top: 1em;
}

  .switch {
    width: 60px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
  }
  
  .switch[data-isOn="true"] {
    justify-content: flex-end;
  }
  
  .handle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 40px;
  }

  @media only screen and (max-width:786px){
    .myimage{
        width:70%;
        margin: 2em auto;
        height:100%;
    }
  }

  .techCards{
    background-color: #16161a !important;
    max-width: 100%;
    min-height: 250px;
  }

  .project-cards{
    background-color: #242629 !important;
  }

  .tab{
    color: white !important;
    font-family: 'Poppins' !important;
    border: 1px solid #7f5af0 !important;
    margin-right: 1em !important;
    transition: 0.5s !important;
    border-radius: 10px !important;
    background-color: #7f5af0 !important;
  }
  