@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Inter:wght@300;400;500&family=League+Spartan:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    scroll-behavior: smooth;
}

body.disable-scroll{
    overflow: hidden;
}

li{
    transition: .3s;
}
.Hero{
    filter: blur(5px);
}
.myimage{
    filter: grayscale(90%);
    transition:.3s
}
.myimage:hover{
    filter: grayscale(0);
}

.image{
    width: 120%;
}
.tech ul li {
    list-style-type: "🚀 ";
}
.GridItem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridContainer{
    margin-top: 1em;
}